
    <h1>{{title}}</h1>
    <ul>
    {% for video in videos %}
    	<li>
    	<div>
    		Name: {{video.name}}
    	</div>
    	<div>
    		Message: {{video.message}}
    	</div>
        <div>
            Story: {{video.story}}
        </div>
        <div>
            Link: {{video.link}}
        </div>
        <div>
            Share: {{video.shares.count}}
        </div>
        <div>
            Like:
            <table>
            <thead>
                <th>Name</th>
                <th>Id</th>
            </thead>
            <tbody>
            {% for like in video.likes.data %}
                <tr>
                    <td>{{like.name}}</td>
                    <td>{{like.id}}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    	</li>
    {% endfor %}
    </ul>
